<section class="scrolling-text" aria-hidden="true">
    <div class="scrolling-text__content">
        <span>{% for i in range(0, 7) %}{{ marqueeText or "GROWTH SHOULD BE HEALTHY" }} &bull; {% endfor %}</span>
    </div>
</section>
